<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column is-one-third">ID:</div>
                <div class="column">{{ticket.ticket_id}}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">Name:</div>
                <div class="column">{{ticket.name}}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">Email:</div>
                <div class="column">{{ticket.email}}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">Phone:</div>
                <div class="column">{{ticket.phone}}</div>
            </div>
        </div>
    </div>
</div>